<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKl30ZWeIFDAAPchKzJCofIybc8tItPGw</string>
	<key>GCM_SENDER_ID</key>
	<string>857978359177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zaloApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-2bc0b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-2bc0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857978359177:ios:680d3a879247eea3536558</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-2bc0b-default-rtdb.firebaseio.com</string>
</dict>
</plist>